.navbar {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    background-color: #373960;
    padding: 1em;
    top: 0;
    height: 12vh;
    /* padding: 0; */
    margin-bottom: 30px;

}


.list {
    display: flex;
    list-style: none;
    align-items: center;


}

.item {
    margin-right: 1em;

}

.item a {
    color: #f2f2f2;
    text-decoration: none;
}

.item a:hover {
    color: #f27265
}